@charset "utf-8";

@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #444;
}
body {
  width: 100%;
  height: 100vh;
  color: rgb(78, 78, 78);
}
h1 {
  margin: 50px 0;
  font-family: MaplestoryOTFBold;
  font-size: 2.5rem;
}
form {
  position: relative;
  display: flex;
  flex-direction: column;
}
form p {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}
form input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  outline: none;
  padding: 10px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
}
form .label_name::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 2px solid #f58cb4;
  border-radius: 5px;
  transition: all 0.2s ease;
  z-index: -1;
}
form input:focus + .label_name .content_name,
form input:valid + .label_name .content_name {
  transform: translateY(-150%);
  background: #ffffff;
  font-size: 13px;
  font-weight: bold;
  color: #f58cb4;
  z-index: 1;
}
form input:focus + .label_name::after,
form input:valid + .label_name::after {
  transform: translateZ(100%);
  z-index: 0;
}
form .content_name {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 15px;
  color: #9e9e9e;
  transition: all 0.2s ease;
  cursor: text;
}
button {
  box-sizing: border-box;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #b6b6b6;
  background: #f58cb4;
  outline: none;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
button:hover {
  background: #f899bd;
}
button:active {
  background: #f5689e;
}
p button {
  width: 100%;
}
button.white_btn {
  background: #ffffff;
  color: #f58cb4;
  border: 2px solid #f58cb4;
  box-shadow: 0px 0px 3px #e0e0e0;
}
button.white_btn:hover {
  background: #f899bd;
  color: #ffffff;
}
button.white_btn:active {
  background: #f5689e;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insert_wrap {
  width: 400px;
  margin: 0 auto;
  /* margin-top: 100px; */
  padding-top: 40px;
  border-top: 1px solid#9e9e9e;
  text-align: center;
}
.insert_wrap h2 {
  display: inline-block;
  position: relative;
  top: -53px;
  padding: 0 10px;
  background: #fff;
  font-size: 15px;
  font-weight: 400;
}
